<?xml version="1.0" encoding="UTF-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <!-- <add key="proxy" value="192.168.1.12:80" />
    <add key="proxyUserName" value="hkixxx" />
    <add key="proxyPassword" value="19927262" /> -->
    <add key="connectionStringReal" value="Driver=Sybase ASE ODBC Driver;SRVR=production;DB=kfnl;UID=kfnl;PWd=hzadmin;charset=cp1256;" />
    <add key="WSUser" value="KFNLProd" />
    <add key="WSPassword" value="!Xy525xCEss@" />
    <add key="Files" value="~/Files/" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" maxRequestLength="1048576" />
    <globalization culture="en-US" enableClientBasedCulture="false" />
    <!--	<customErrors mode="Off"/> -->
  </system.web>

  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
        multipleSiteBindingsEnabled="true" />
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IOrdersAdmission">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>

    <client>
      <endpoint address="https://services.media.gov.sa/KFNL/OrdersAdmission.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOrdersAdmission"
        contract="MociServiceReference.IOrdersAdmission" name="BasicHttpBinding_IOrdersAdmission" />
    </client>
  </system.serviceModel>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>
